:host {
	--spacing: 24px;
	--border-radius: 6px;
	--border-width: 2px;
	--dark: #151515;
	--light: #fafafa;

	--foreground: var(--dark);
	--background: var(--light);
}

:host {
	background: var(--background);
	color: var(--foreground);
	display: block;
}


.box {
	padding: var(--spacing);
	border-radius: var(--border-radius);
	background: var(--background);
	border: var(--border-width) solid rgba(0, 0, 0, 0.1);
	margin: 0 0 var(--spacing);
}

h1 {
	margin: 0;
}